@charset "UTF-8";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  float: left;
  padding: 30px;
  width: 100%;
}

.user-actions,
.repos-wrapper {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.user-actions button,
.repos-wrapper > div {
  margin-right: 20px;
  width: 100%
}

.user-actions :first-child,
.repos-wrapper :first-child {
  margin-left: 0;
}
