@charset "UTF-8";

html,
body,
textarea,
div,
section,
footer,
header,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
