@charset "UTF-8";

@import './reset.css';
@import '~highlight.js/styles/night-owl.css';

.main-editor {
  display: grid;
  grid-template-areas:
    "files editor view"
    "files footer footer"
  ;
  grid-template-rows: 1fr 60px;
  grid-template-columns: 20vw 1fr 1fr;
  height: 100vh;
  font-family: sans-serif;
}

.main-editor > .files-list {
  background-color: #111;
  color: #eee;
  grid-area: files;
  padding: 10px 20px;
}

.main-editor > .files-list > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-editor > .files-list button {
  padding: 5px;
  width: 100%;
}

.main-editor > .editor {
  background-color: #eee;
  padding: 10px;
  resize: none;
  grid-area: editor;
}

.main-editor > .editor:focus {
  outline: 0 none;
}

.main-editor > .view {
  overflow-wrap: break-word;
  overflow-y: auto;
  background: #333;
  color: #fff;
  padding: 10px;
  grid-area: view;
}

.main-editor > .markdown-footer {
  display: flex;
  grid-area: footer;
  background-color: #111;
  justify-content: flex-end;
}

.main-editor > .markdown-footer > .save {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
