<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style><%= compilation.assets['crp.css'].source() %></style>
</head>

<body>
  <div data-js="app"></div>

  <% htmlWebpackPlugin.files.js.forEach(file => { %>
    <script async src="<%= file %>"></script>
  <%}) %>

  <% htmlWebpackPlugin.files.css.forEach(file => { %>
    <% if (file !== 'crp.css') { %>
      <link rel="stylesheet" href="<%= file %>">
    <%} %>
  <%}) %>
</body>

</html>
